.card {
    position: absolute;
    z-index: 9;
    background-color: #8e44ad;
    border-radius: 5%;
    overflow: auto;
    resize: both;
    width: 350px;
    -webkit-user-select: none;
    cursor: none;
    min-width: 380px;
    min-height: 155px;
}

.card:active {
    width: 0;
    height: 0;
}

.cardHeader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #8e44ad;
    text-align: center;
}

.title {
    text-align: center;
}

.content p {
    margin: 10px;
}